@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: inherit;
  background-color: rgba(133, 133, 133, 0.89);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.main-div {
  align-items: center;
  background-color: rgb(134, 119, 119);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px #000000;
  display: flex;
  height: 500px;
  margin: auto;
  width: 60%;
}

.right-side-login {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 50%;
}

.left-side-login {
  background-color: rgb(57, 97, 161);
  background-image: url('/pngegg.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 50%;
}

.label-input {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.input-login {
  border: none;
  border-bottom: 1px solid rgb(57, 97, 161);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-top: 15px;
  width: 200px;
}

.welcome {
  font-family: 'Pacifico';
  font-weight: 300;
  margin-bottom: 20px;
}

.sign {
  background-color: rgb(57, 97, 161);
  border-radius: 35px;
  border: none;
  color: white;
  font-family: 'Verdana';
  margin-top: 40px;
  padding: 7px;
  width: 150px;
}

input:focus {
    border: none;
    box-shadow: 0 0 3px rgb(57, 97, 161);
    outline-offset: 0px;
    outline: none;
    padding: 5px;
}